<header class="site-header" >
  <div class="site-header-content" >
    <div class="site-header__logo" appRandomColor>TrackIt‎‎</div>
    <nav class="site-header__nav">
      <ul class="page-list">
        <li class="page-list__nav-item">
          <a class="page-list__nav-link" routerLink="/todo">Todo</a>
        </li>
        <li class="page-list__nav-item">
          <a class="page-list__nav-link" routerLink="/register">Register</a>
        </li>
        <li class="page-list__nav-item">
          <a class="page-list__nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </nav>
  </div>
</header>