.left-menu{
  width: 300px;
  box-sizing: border-box;
}

.add-data__svg{
  width:32px;
  color:red;
  fill: currentColor;
}

.add-data{
  display:flex;
}

.add-data__text{
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 100%;
}

.add-data:hover .add-data__svg{
  color: white;
  border-radius: 90%;
  background-color: red;
}

.add-data:hover {
  color:red;
  cursor:pointer;
}
