.left-menu{
  width: 300px;
  box-sizing: border-box;
  font-family: Segoe UI, sans-serif !important;
  font-size: 18px;
  font-weight: lighter;
}

.list{
  list-style-type: none;
  font-weight: 400;
  padding: 5px;
  line-height: 1.2em;
}

.list:hover{
  cursor: pointer;
}

.show-all{
  margin: auto;
}

.show-all-button{
  border:1px red solid;
  margin: auto;
  text-align: center;
  padding: 5px;
}

.show-all:hover{
  cursor: pointer;
}

.filter{
  margin-top: 1em;
}