<div class="left-menu">
  <div>
    <p class="show-all-button" (click)="showAll()" >Показать все</p>
  </div>
    <p class="filter">Фильтры:</p>
  <ul>
    <li>
      <p>Проекты:<p>
        <hr>
        <ul>
         <li class="list" *ngFor="let project of projects" (click)="filterTodo('project',project)">{{project}}</li>
        </ul>
    </li>
    <li>
      <p>Метки:</p>
      <hr>
        <ul>
          <li  class="list" *ngFor="let mar of marks" (click)="filterTodo('mark',mar)">{{mar}}</li>
        </ul>
    </li>
    <li>
      <p>Приоритет:<p>
        <hr>
        <ul>
         <li class="list" *ngFor="let priority of priorities" (click)="filterTodo('priority',priority)">{{priority}}</li>
        </ul>
    </li>
  </ul>
</div>